<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
		<link href="https://bootswatch.com/4/sketchy/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/assets/burger_style.css" type="text/css" />
		<title>Handlebars Burgers using MVC</title>
	</head>
	<body>
		<img src="/assets/img/burger.png" width="200px" id="animated_burger">
		{{{ body }}}
	</body>
</html>